.cohort-details-container {
    animation: fadeIn .5s ease-in forwards;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-size: 18px;
    background-color: #E0EAF8;
    border: 1px solid;
    height: fit-content;
    width: 800px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.cohort-details-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    color:white;
    background-color: #0D0F4A;
    padding: 10px 0 10px 0;
    font-size: 24px;
    font-weight: bold;
    
}

.cohort-close {
    float: right;
    padding-right: 1.5vw;
    cursor: pointer;
}

.cohort-basic-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 5% 10px 5%;
    color: white;
    background-color: #4E70E0;
}

.cohort-bacic-info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cohort-bacic-info-column span:nth-child(2) {
    font-style: italic;
}

.cohort-details-table {
    width: 100%;
    height: auto;
    max-height: calc(100% - 70px);
    overflow: hidden;
    text-align: center;
    margin: 0 0 15px 0;
    border-collapse: collapse;
}

.cohort-details-table-header {
    background-color:#EF6E47;
    cursor: default;
    padding: 5px;
}

.cohort-student-entry {
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid #4E70E0;
    align-items: center;
}

.cohort-details-table tr:hover {
    background-color: #b9caff;
    cursor: pointer;
}

.cohort-details-badge {
    display: flex;
    border-radius: 50px;
    border: 2px solid lightgray;
    padding: 0 5px 0 5px;
    justify-content: center;
}

#cohort-badge-green {
    background-color: lightgreen;
}

#cohort-badge-yellow {
    background-color: yellow;
}

#cohort-badge-red {
    background-color: red;
    color: white
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}