.Appointments {
    animation: fadeIn .5s ease-in forwards;
    background-color: #E0EAF8;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: flex-start;
    margin-right: 8px;
    max-height: 525px;
    max-width: 275px;
    min-width: 275px;
    padding-bottom: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.RemindersHeader {
    align-items: center;
    background-color: #0D0F4A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    min-height: 48px;
}

.buttons {
    background-color: #0D0F4A;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 14px;
    /* padding-top: 5px; */
}

.addButton,
.editButton,
.deleteButton, 
.addNoteSubmit,
.addNoteCancel,
.confirmDeleteButton,
.cancelDeleteButton {
    background-color: #4E70E0;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 3px 6px 3px 6px;
    width: 50px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.confirmDeleteButton {
    margin: 5px;
    /* padding: 10px; */
}

.cancelDeleteButton {
    margin: 5px;
}

.addButton:hover,
.editButton:hover,
.deleteButton:hover,
.addNoteSubmit:hover,
.addNoteCancel:hover,
.confirmDeleteButton:hover,
.cancelDeleteButton:hover  {
    background-color: #EF6E47;
}

.deleteButton {
    margin-left: auto;
    margin-right: 5px;
}
.addNoteSubmit,
.addNoteCancel {
  margin: 0 auto;
  display: block;
  width: 100px;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
}

.buttonContainer {
    margin-top: 10px; /* Adjust the spacing as needed */
    margin-bottom: 10px;
    
}




/* .addButton {
    background-color: rgb(33, 119, 22);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 50px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.addButton:hover {
    background-color: rgb(25, 187, 60);
}

.editButton {
    background-color: rgb(159, 157, 21);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 50px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.editButton:hover {
    background-color: rgb(196, 201, 73);
}

.deleteButton {
    background-color: rgb(217, 25, 25);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 50px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.deleteButton:hover {
    background-color: rgb(244, 155, 155);
} */

.studentNames {
    background-color: #EF6E47;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.reminder {
    font-size: 15px;
    font-style: italic;
    height: auto;
    min-height: 50px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}