.noteContainer {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding-top: 5px;
    /* margin-bottom: 10px; */
  }
 

.expandButton {
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.expandButton:hover {
    cursor: pointer;
    font-weight: 600;
}

.collapseButton {
    color: blue;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    justify-content: right;
    margin-right: 30px;
}

.collapseButton:hover {
    cursor: pointer;
    font-weight: 600;
}