.logout-button {
    background-color: #4E70E0;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  }
  
  .logout-button:hover {
    background-color: #EF6E47;
  }