body{
    /* background: #E0EAF8; */
    padding-bottom: 50px;
}
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-banner {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
}