.footer-container {
    background-color: #0D0F4A;
    bottom: 0;
    border-top: 1px solid black;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: smaller;
    justify-content: center;
    list-style: none;
    padding: 10px;
    position: fixed;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
}

.footer-item {
    margin: 0px 15px;
}
.footer-item a {
    color: white;
    text-decoration: none;
}

.footer-item a:hover {
    color: #EF6E47;
}