.calendar {
    width: 65%;
    border: 1px solid #ccc;
    padding: 10px;
    /* position: absolute;
    z-index: 9999;
    background-color: #007bff; */
    }
    
    .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    }
    
    .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    }
    
    .weekday {
    padding: 5px;
    }
    
    .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    /* height: 0px;  */
    /* padding-bottom: calc(100% / 7); */
    }
    
    .day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    border: 1px solid #ccc;
    /* padding-bottom: calc((100% - 40px) / 7); */
    flex-basis: calc((100% - 40px) / 7);
    }
    
    .day.inactive {
    background-color: #f7f7f7;
    visibility: hidden;
    height: 0px;
    }
    
    .day-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .day-number {
    font-size: 18px;
    margin-bottom: 5px;
    }
    
    .event {
    font-size: 12px;
    color: #fff;
    background-color: #007bff;
    padding: 2px 6px;
    border-radius: 4px;
    }