:root {
    --fc-button-bg-color: #4E70E0;
    --fc-button-hover-bg-color: #37a9ef;
    --fc-button-active-bg-color: #EF6E47;
    --fc-border-color: transparent;
}

.fc {
    animation: fadeIn .5s ease-in forwards;
    background-color: #e0eaf8;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.fc-toolbar {
    background-color: #0D0F4A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 8px
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0px;
}

.fc-button-group {
    margin-left: 10px;
    margin-right: 10px;
}

.fc-col-header {
    background-color: #EF6E47;
}

.fc-col-header-cell {
    width: auto;
}

.fc-daygrid-day-frame {
    height: 50px;
    overflow: hidden;
}

.fc-daygrid-day-frame::-webkit-scrollbar {
    width: 0;
    overflow: auto;
    background-color: transparent;
}

.fc-daygrid-day-frame:hover {
    overflow: auto;
}

.fc-daygrid-day {
    overflow: auto;
    border: solid 1px gray !important;
}

.calendar-tooltip {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}