.cohortNav {
    animation: fadeIn .5s ease-in forwards;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    white-space: nowrap;
    width: auto;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.cohortNavHeader {
    background-color: #0D0F4A;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 30px;
    padding: 10px;
}

.cohortNavDrop-container {
    background-color: #EF6E47;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.cohortNavDrop {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 59px;
    margin-right: 59px;
    padding: 5px;
    cursor: pointer;
}

.cohortNavDrop:hover{
    color: black
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}