.student-details-table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    height: fit-content;
}

.student-details-header {
    color: black;
    font-weight: bold;
    background-color:#EF6E47;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.column1 {
    white-space: nowrap;
    padding: 10px;
    font-weight: bold;
    background-color: #0D0F4A;
}

.column2 {
    display: flex;
    flex-direction: row;
    min-height: 21px;
    padding: 10px;
    background-color: #4E70E0;
    align-items: center;
}

.student-details-badge {
    border-radius: 50px;
    border: 2px solid lightgray;
    padding: 0 10px 0 10px;
    margin-left: 10px;
    font-size: 14px;
    justify-content: center;
}

.student-exit{
    float: right;
    padding-right: .5vw;
    cursor: pointer;
    color:black;
}

.student-exit:hover{
    color:white;
}

.lowerRight-cell {
    border-bottom-right-radius: 10px;
}

.lowerLeft-cell {
    border-bottom-left-radius: 10px;
}

#student-badge-green {
    background-color: lightgreen;
    color: black;
}

#student-badge-yellow {
    background-color: yellow;
    color:black;
}

#student-badge-red {
    background-color: red;
}

.modal-container {
    display: flex;
    flex-direction: column;
}

.student-details-appt-table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    height: fit-content;
    width: 100%;
    border-collapse: collapse;
}

.student-details-appt-header {
    color: black;
    font-weight: bold;
    background-color:#EF6E47;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.student-details-appt {
    color: black;
    padding: 5px;
    max-width: 400px;
    border-bottom: 1px solid #EF6E47;
}

.strikethrough-text {
    text-decoration: line-through;
}