.student-details-table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    color: #FFFFFF;
    height: fit-content;
}

.student-details-header {
    color: black;
    font-weight: bold;
    background-color:#EF6E47;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.column1 {
    padding: 10px;
    font-weight: bold;
    background-color: #0D0F4A;
}
.column2 {
    padding: 10px;
    background-color: #4E70E0;
}

.student-details-circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    float: right;
    border: 2px solid lightgray;
}

.student-exit{
    float: right;
    padding-right: .5vw;
    cursor: pointer;
    color:black;
}

.student-exit:hover{
    color:white;
}

.lowerRight-cell {
    border-bottom-right-radius: 10px;
}

.lowerLeft-cell {
    border-bottom-left-radius: 10px;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}