.login-form {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #e0eaf8;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: solid 1px;
}

.form-title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login-form input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #4e70e0;
}

.login-form button {
    background-color: #4e70e0;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    margin: 10px 0 10px 0;
}

.login-form button:hover {
    background-color: #ef6e47;
}
