.addEditContainer{
    cursor: default;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background:#E0EAF8;
    border-color: #EF6E47;
    border-style: solid;
    color:#FFFFFF;
    font-size: 20px;
}
.addEditHeader {
    background: #0D0F4A;
    border-color: #EF6E47;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    overflow: auto;
}
.addEditClose{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.addEditClose:hover{
    color:#EF6E47;
}
.addEditContent{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.dateRange{
    color:#0D0F4A;
}
.addEditFooter{
    display: flex;
    flex-direction: row;
    background: #0D0F4A;
    border-color: #EF6E47;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    overflow: auto;
    justify-content: flex-end;
    
}
.addEditOption{
    margin-right: 20px;
    cursor: pointer;
}
.addEditOption:hover{
    color:#EF6E47;
}
