.cohortInfoContainer{
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    background-color:#4E70E0;
    border: 3px solid #EF6E47;
    color:#FFFFFF;
    width: 50%;
    height: 50%;
    
}
.cohortInfoHeader{
    text-align: center;
    background-color: #0D0F4A;
}
.cohortClose{
    float:right;
    padding-right: 10px;
    font-size: 30px;
    z-index: 50;
    cursor: pointer;
}
.basicCohortInfo{
    display: flex;
    align-items: center;
    background-color: #0D0F4A;
    border: 3px solid #EF6E47;
    border-left: 0px;
    border-right: 0px;
}
.CInfo{
    margin: 1%;
    width: fit-content;
}