table {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto;
}

td {
    border: 2px solid black;
    padding: 10px;
}
.column1 {
    font-weight: bold;
}
.column2 {
    padding-left: 30px;
    padding-right: 30px;
}

.cohort-title {
    text-align: center;
}